#about {
  background-color: $blue;

  h2.section-heading {
    text-align: left;
    color: white;
  }

  .art {
    .text {
      margin-left: 8rem;
    }

    .line {
      width: 320px;
      text-align: center;

      &-1 {
        .text {
          margin-bottom: 40px;
        }
      }
      &-2 {
        .text {
          margin-bottom: 56px;
        }
      }
      &-3 {
        .text {
          margin-top: -48px;
        }
      }
    }
  }
}
