#prizes {
  background-color: $blue;

  .text {
    text-align: 'center';
    color: white;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    display: block;
    border-radius: 14px;
  }
}
