#prizes{
background-color: #06addb;
.section-heading{
    font-family: 'Alegreya Sans SC';
    font-size: 8.2vh;
    text-shadow: 2px 2px #dc3545;
    color: #dc3545;
    text-align: 'center';
}
.text{
    text-align: 'center';
}
}