#resources{
    background-color: #16c26b;
    .section-heading{
        font-family: 'Alegraya Sans SC';
        font-size: 8.2vh;
        text-shadow: 2px 2px #67e2eb;
        color: #1c26b3;
        text-align: 'center';
    }
    .text{
        text-align: 'center';
        
    }
}
