#rules{
    background-color: #fff689;
    .section-heading{
        font-family: 'Alegraya Sans SC';
        font-size: 8.2vh;
        text-shadow: 2px 2px #d607ff;
        color: #7e198b;
        margin-left:25vw;
    }
    .text{
        text-align: 'center';
    }
}
