

#sponsors {
  color: $blue-dark;
  background-color: $yellow;

  .text{
    font-family: 'Alegreya Sans SC';font-size: 8.2vh;
    text-shadow:2px 2px #221352;
    color: #221352;
    }
  
  a {
    color: $blue-dark;
    font-weight: bold;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      display: block;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      margin: 32px;

      @media (max-width: 767px) {
        margin: 16px 0;
      }
    }

    .digital-ocean {
      width: 280px;

      @media (max-width: 575px) {
        width: 220px;
      }
    }
  }
}
